@import url('https://fonts.googleapis.com/css?family=Blinker:100,400,700&display=swap');

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    font-family: 'Blinker', sans-serif;
}

.vector-fill-green {
    fill: #0d8a44;
}

.vector-fill-white {
    fill: #fff;
}

.vector-fill-blue {
    fill: #27AAE1;
}

.vector-fill-black {
    fill: #010101;
}

.vector-stroke-black {
    fill: none;
    stroke: #010101;
    stroke-miterlimit: 10;
    stroke-dasharray: 0;
}

.vector-path-4 {
    stroke-width: 7.3177;
}

.vector-path-5 {
    stroke-width: 6.7573;
}

.vector-path-6 {
    stroke-width: 7.3095;
}

.vector-path-7 {
    stroke-width: 7.3135;
}

.vector-path-8 {
    stroke-width: 7.3385;
}

.vector-path-9 {
    stroke-width: 6.9067;
}

.vector-path-10 {
    stroke-width: 6.5497;
}

.vector-path-11 {
    stroke-width: 6.5372;
}

.vector-path-12 {
    stroke-width: 6.6816;
}